:root {
  --c-bg: #f3f4f6;
}

.home .features .feature {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5rem;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.home .features .feature:hover {
  transform: translateY(-5px);
}
